

/*----------------------------------------PORTADA DE LANDING PAGE------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*Cover*/
#cover-responsive{background-image: url(../img/portada3.jpg);}

/*Responsive personalizado*/
@media screen and (max-width:768px){
    #cover-responsive{background-image: url(../img/portada.jpg);}
}

/*Animacion del cover*/
@keyframes cambiar {
    0%{ margin-top: 0;}    
    20%{ margin-top: 0;}

    25%{ margin-top: -2.8rem;}    
    50%{ margin-top: -2.8rem;} 

    55%{ margin-top: -5.65rem;}    
    80%{ margin-top: -5.65rem;}
    
    85%{ margin-top: -2.8rem;}
    95%{ margin-top: -2.8rem;}

    100%{ margin-top: 0;}
}

@media screen and (max-width:1024px){
    @keyframes cambiar {
        0%{ margin-top: 0;}    
        20%{ margin-top: 0;}

        25%{ margin-top: -1.75rem;}    
        50%{ margin-top: -1.75rem;} 

        55%{ margin-top: -3.45rem;}    
        80%{ margin-top: -3.45rem;} 

        85%{ margin-top: -1.75rem;}
        95%{ margin-top: -1.75rem;}

        100%{ margin-top: 0;}
    }
}

.overlay{
    width: 100%;
    background:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4));
    position: absolute;
    
}



/*----------------------------------------HOVER DEL CARD------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

.card{

    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}



.card:before{
    content: "";
    top: 0;
    left: 0;
    background:linear-gradient(to bottom, rgba(111,111,111,0.5), rgba(111,111,111,0.5));
    z-index: 2;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
}
/*
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
}

.card .info{
    position: relative;
    z-index:3;
    color: #fff;
    opacity: 0;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.card .info h2{
    margin:0;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
} */
